#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}


header {
    display: flex;
    align-items: center;
    column-gap: 64px;
    font-family: 'Young-serif', serif;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.navigation_link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    transition: all 0.4s;
}

.navigation_link:hover {
    color: black;
    background-color: rgb(223, 226, 39);
    border-radius: 5px;
    font-size: 15px;
    padding: 1px;
    transform: translatey(-5px);
    
}

.navigation_sociais {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_sociais svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
}

.navigation_sociais svg:hover {
    opacity: 1;
    transform: translatey(-5px);
    cursor: pointer;
}
